@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Wether App.</h1>
    <a class="nav-link" asp-area="" asp-controller="Weather" asp-action="Index">Go To Weather App</a>
</div>
